.container
    include ../partials/__header
    .works-page-title
                .works-page-title__svg
                        svg.svg-page-title
                                use(xlink:href="assets/img/sprite.svg#" + title_private + "_header")
                .works-page-title__page-name 
                        span.page-name #{title_public}
    .works
        .works__slide-info.slide-info-big-screen
            .works__container
                span.works__slide-name.separator Сайт школы онлайн образования
                span.works__technologies HTML,CSS,JAVASCRIPT
                a(href="#").works__watch-button
                    i.fa.fa-link
                    |Посмотреть сайт
        .works__slider
            .works__current-slide
                .works__image
                    img(src="/assets/img/slider/work-1.png", alt="").current-slide
            .works__slide-info.slide-info-small-screen
                .works__container
                    span.works__slide-name.separator Сайт школы онлайн образования
                    span.works__technologies HTML,CSS,JAVASCRIPT
                    a(href="#").works__watch-button
                        i.fa.fa-link
                        |Посмотреть сайт
            .works__navigation
                .works__previous.js-slider.js-slider-down(data-slider="previous")
                    ul.slider__list
                        li.slider__item.active
                            img(src="/assets/img/slider/work-1.png", alt="").previous-slide
                        li.slider__item
                            img(src="/assets/img/slider/work-2.png", alt="").previous-slide
                        li.slider__item
                            img(src="/assets/img/slider/work-3.png", alt="").previous-slide
                        li.slider__item
                            img(src="/assets/img/slider/work-4.png", alt="").previous-slide
                    svg
                        use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
                .works__next.js-slider.js-slider-up(data-slider="next")
                    ul.slider__list
                        li.slider__item.slider__item-up.active
                            img(src="/assets/img/slider/work-1.png", alt="").next-slide
                        li.slider__item.slider__item-up
                            img(src="/assets/img/slider/work-2.png", alt="").next-slide
                        li.slider__item.slider__item-up
                            img(src="/assets/img/slider/work-3.png", alt="").next-slide
                        li.slider__item.slider__item-up
                            img(src="/assets/img/slider/work-4.png", alt="").next-slide
                    svg
                        use(xlink:href="assets/img/sprite.svg#portf_arrow_up")
    .about-me
        .about-me__block-title
            svg.svg-title
                use(xlink:href="assets/img/sprite.svg#about_header")
            h3.title.separator 
                |Что обо мне говорят
        .about-me__comments.clearfix
            .about-me__first-comment.clearfix
                .comment-avatar-holder
                    img(src="/assets/img/avatars/avatar_dima.png", alt="").avatar
                .comment
                    span.comment__text 
                        |Этот парень проходил обучение веб-разработке не где-то,
                        | а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    span.comment__author Ковальчук Дмитрий
                    span.comment__position — основатель Loftschool
            .about-me__second-comment.clearfix
                .comment-avatar-holder
                    img(src="/assets/img/avatars/avata_zakharovr.png", alt="").avatar
                .comment
                    span.comment__text 
                        |Этот код выдержет любые испытания. Только пожалуйста,
                        | не загружается сайт на слишком старых браузерах!
                    span.comment__author Зар Захаров
                    span.comment__position — преподаватель
        .contact-wrap
            .contact-box
                h2.separator Связаться со мной
                form.login-form(
                    name='login-form'
                    method='post'
                )
                    input#name(
                        type='text'
                        placeholder='Имя'
                    )
                    input#email(
                        type='password'
                        placeholder='Email'
                    )
                    textarea#message(name='text' placeholder='Ваше сообщение')
                    .login-form-buttons
                        button.login-form-button(type="submit") Отправить
                        button.login-form-button(type="reset") Очистить
        .arrow-up
            a(href="#header").arrow-up__link
                svg.arrow-up__svg
                    use(xlink:href="assets/img/sprite.svg#portf_arrow_up")

    include ../partials/__footer
